/* 


body {
  background-size: cover;
  background-repeat: no-repeat;
}


.main{
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 100vh;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.title{
  color: #fff;
  font-size: 38px;
  font-weight: 400;
} */